@import "reset";
@import "variables";
@import "mixins";
@import "main";

.registration {
  .flex {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__group {
    width: calc(50% - 15px);
  }
  &__row {
    margin-bottom: 15px;
    &_nowrap {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin-top: 30px;
      .registration__label {
        margin-bottom: 0;
      }
    }
  }
  &__label {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
  }
  &__input {
    width: 100%;
    &_textarea {
      height: 100px;
      padding-bottom: 10px;
      padding-top: 10px;
    }
  }

  &__checkbox {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

.switcher {
  align-items: center;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  display: flex;
  height: 35px;
  overflow: hidden;
  position: relative;
  width: 90px;

  .switcher__container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    outline: 1px solid #fff;
    outline-offset: 1px;
    width: 100%;
  }

  &__label {
    cursor: pointer;
    display: inline-block;
    flex-grow: 1;
    height: 100%;
    position: relative;
    transition: $trans;
    width: 50%;
  }

  &__toggle {
    background-color: $yellowColor;
    border: 1px solid #fff;
    border-radius: 5px;
    height: 100%;
    left: calc(50% - 15px);
    pointer-events: none;
    position: absolute;
    top: 0;
    transition: $trans;
    transform: translateX(0);
    width: 30px;
    z-index: 1;
  }

  &__title {
    pointer-events: none;
    position: absolute;
    top: calc(50% - 7px);
    transform: translateX(0) scale(1);
    transition: $trans;
    &_left {
      left: 8px;
    }

    &_right {
      right: 8px;
    }

    svg {
      height: 15px;
      width: 15px;
      path {
        fill: $labelColor;
      }
    }
  }

  &__radio {
    display: none;
  }

  &__radio_left:checked {
    & ~ .switcher__label_left {
      flex-grow: 0;
      width: 0;
    }

    & ~ .switcher__title_left {
      transform: translateX(5px) scale(1.4);
      z-index: 2;
    }

    & ~ .switcher__toggle {
      transform: translateX(-66%);
      width: 50%;
    }
  }

  &__radio_right:checked {
    & ~ .switcher__label_right {
      flex-grow: 0;
      width: 0;
    }

    & ~ .switcher__title_right {
      transform: translateX(-5px) scale(1.4);
      z-index: 2;
    }

    & ~ .switcher__toggle {
      transform: translateX(34%);
      width: 50%;
    }
  }
}

.checkbox {
  &__input {
    display: none;
  }
  &__pseudo-input {
    background-color: #fff;
    border: solid 1px $inputColor;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    height: 35px;
    position: relative;
    text-align: center;
    width: 35px;
    &:before {
      background-color: $yellowColor;
      border: 1px solid #fff;
      border-radius: 5px;
      bottom: 0;
      box-sizing: border-box;
      content: '';
      height: 100%;
      left: 0;
      opacity: 0;
      position: absolute;
      right: 0;
      top: 0;
      transition: $trans;
      width: 100%;
    }
    &:after {
      border-right: 2px solid $labelColor;
      border-top: 2px solid $labelColor;
      bottom: 0;
      content: '';
      height: 5px;
      left: 0;
      margin: auto;
      opacity: 0;
      position: absolute;
      right: 0;
      top: 0;
      transform: rotate(135deg);
      transition: $trans;
      width: 10px;
      z-index: 2;
    }
  }
  &__input:checked ~ &__pseudo-input {
    &:before {
      opacity: 1;
    }
    &:after {
      opacity: 1;
    }
  }
}

.climber-list {
  &__head {
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  &__title {
    font-size: 24px;
  }

  .total {
    &__number {
      padding-left: 20px;
    }
  }

  .flex-table {
    background-color: #fff;
    position: relative;
    &__container {
      height: 200px;
      overflow-x: visible;
      overflow-y: auto;
      overflow: -moz-scrollbars-none;
      -ms-overflow-style: none;
      &::-webkit-scrollbar {
        width: 0;
      }
    }
    &__row {
      border-bottom: 2px solid $bgColor;
      height: 50px;
      line-height: 50px;
      padding: 0 30px;
      &.flex {
        justify-content: space-between;
      }
    }
    &__number {
      width: 50px;
    }
    &__name {
      flex-grow: 1;
    }
    &__first-name {
      padding-right: 20px;
    }
  }

  .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    &__effect {
      position: absolute;
      z-index: 1;
      &_top {
        top: 0;
        left: 0;
        Background: radial-gradient(farthest-side at 50% 0%, rgba(0, 0, 0, .3), rgba(0, 0, 0, 0)) 100% 0;
        background-repeat: no-repeat;
        background-size: 100% 3px;
        width: inherit;
        height: 5px;
      }
      &_bottom {
        bottom: 0;
        left: 0;
        Background: radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, .3), rgba(0, 0, 0, 0)) 0 100%;
        background-repeat: no-repeat;
        background-size: 100% 3px;
        width: inherit;
        height: 5px;
      }
    }
  }

  .scroll-shadow {
    position: relative;
    &:before, &:after {
      content: '';
      height: 20px;
      left: 0;
      position: absolute;
      width: 100%;
      z-index: 2;
    }
    &:before {
      background: linear-gradient(to top, rgba(255, 255, 255, 0) 15px, #ffffff) bottom/100% 100%;
      top: 0;
    }
    &:after {
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 15px, #ffffff) top/100% 100%;
      bottom: 0;
    }
  }

  .search {
    &__icon {
      display: inline-block;
      height: 40px;
      line-height: 40px;
      margin-right: 20px;
      vertical-align: middle;
      path {
        fill: $labelColor;
      }
    }
    &__select {
      position: relative;
    }
    &__input {
      height: 40px;
    }
    &__dropdown {
      left: 0;
      position: absolute;
      width: 100%;
      z-index: 5;
    }
  }

  .dropdown {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 4px 0 #e0dfdf;;
    margin-top: 3px;
    &__item {
      border-top: 2px solid $bgColor;
      color: $labelColor;
      height: 40px;
      line-height: 40px;
      padding: 0 30px;
      &:first-child {
        border-top: none;
      }
      &_btn {
        border-radius: 0;
        border-top: none;
        cursor: pointer;
        font-size: 16px;
        position: relative;
      }
    }
    &__icon {
      cursor: pointer;
      opacity: 0;
      position: absolute;
      right: 30px;
      top: 50%;
      transform: scale(.5);
      transition: $trans;
      &:before, &:after {
        background: $labelColor;
        content: '';
        display: block;
        height: 2px;
        width: 20px;
      }
      &:after {
        margin-top: -2px;
        transform: rotate(90deg);
      }
    }
    .dropdown__item_btn:hover .dropdown__icon {
      opacity: 1;
      transform: scale(1);
    }
  }
}
