@import "variables";
@import "mixins";

body {
  color: $labelColor;
  font-family: $font-family;
  overflow-x: hidden;
  & * {
    box-sizing: border-box;
  }
}

a {
  cursor: pointer;
  text-decoration: none;
   transition: $trans;
}

button, input, select, textarea {
  cursor: pointer;
  padding: 0;
  transition: $trans;
  vertical-align: middle;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

input, select, textarea {
  background-color: #fff;
  border: 1px solid $inputColor;
  border-radius: 5px;
  font-size: 24px;
  height: 50px;
  margin: 0;
  padding: 0 15px;
  @include placeholder {
    color: $lightGrayColor;
  }
}
input.incorrect, select.incorrect, textarea.incorrect {
  border: 1px solid $incorrectColor;
}
input.correct, select.correct, textarea.correct {
  border: 1px solid $correctColor;
}

a:focus, button:focus, button:active, input:focus, input:checked, select:focus, textarea:focus {
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

.btn {
  background-color: $yellowColor;
  border: none;
  border-radius: 5px;
  color: $labelColor;
  display: block;
  height: 50px;
  font-size: 20px;
  font-weight: 700;
  min-width: 150px;
  padding: 10px;
  width: 100%;
  &:hover {
    background-color: lighten($yellowColor, 8%);
  }
}

.container {
  padding: 0 50px;
}
.flex {
  display: flex;
}

.bg-container {
  background: url('../assets/img/fon2.jpg') fixed;
  background-size: cover;
  padding: 10px;
  min-height: 100%;
  width: 100%;
}

.transparent-layer {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  margin: 0 auto;
  max-width: 1100px;
  padding: 30px 60px;
  width: 100%;
}

.header {
  background-color: transparentize($yellowColor,.25);
  border-radius: 5px;
  margin-bottom: 25px;
  padding: 10px 0;
  position: relative;
  .flex {
    align-items: center;
    justify-content: space-between;
  }
  &__logo {
    opacity: .5;
  }
  &__btn {
    box-shadow: 0 1px 5px 1px #e0d459;
    width: 250px;
  }
}

.main-container {
  background-color: $bgColor;
  border-radius: 5px;
  margin-top: 10px;
  padding: 50px 0;
}
